
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    
  }
  
  .home-heading-style {
    margin-top: 0;
  }
  
  .login-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    background-color:darkcyan;
    width: 20vw;
  }
  
  .button-css {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease, color 0.3s ease;
  }
  
  .button-css:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  
  .button-css:focus {
    outline: none;
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .blog-post {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-left: 500px;
  }
  
  .blog-post h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .blog-post p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  .blog-post:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
  }
  .container {
    display: flex;
    align-items: flex-start;
    height: 100vh;
   
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1;
    
 
  }
  .head {

    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; 
    color: white; 
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .head h2 {
    margin: 0;
  }
  .heading_blog{
    margin-left: 480px;
  }
  