.signup-button{
    background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.signup-button:hover{
    background-color: #0056b3; 
}
.signup-p{
    text-align: center;
  margin-top: 10px;
}
.signup-span{
    color: #007bff;
  cursor: pointer;
}
.signup-span:hover{
    text-decoration: underline;
}
.signup-input{
    width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-heading{
    text-align: center;
  margin-bottom: 20px;
}
.signup-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
.signup-error-message {
  color: red;
  margin-top: 10px;
}
.oauth-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
